.app {
  text-align: center;
}

.app > h1 {
  border-bottom: 1px solid rgba(0,0,0,0.14);
  margin-bottom: 0;
  padding-bottom: 0.67em;
  margin-top: 0;
  padding-top: 0.67em;
  font-family: Roboto, Arial, sans-serif;
  color: rgb(0, 78, 112);
}

.content-wrapper {
  display: flex;
}

.main-content {
  flex: 1 1 0;
}
